<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485317674524-tnq32eaf4hieh142bt9au4kad23uteq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485317674524-tnq32eaf4hieh142bt9au4kad23uteq4</string>
	<key>API_KEY</key>
	<string>AIzaSyDa4eMQucDRxjcbCnDReykjTM-cZ0J_lw0</string>
	<key>GCM_SENDER_ID</key>
	<string>485317674524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rochano.myexpenses</string>
	<key>PROJECT_ID</key>
	<string>micro-eye-252307</string>
	<key>STORAGE_BUCKET</key>
	<string>micro-eye-252307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485317674524:ios:5754921274a231e0c041d9</string>
	<key>DATABASE_URL</key>
	<string>https://micro-eye-252307.firebaseio.com</string>
</dict>
</plist>